<p id="notice"><%= notice %></p>

<h3>Products</h3>

<table>
  <thead>
    <tr>
      <th>商品タイトル</th>
      <th>商品説明</th>
      <th>商品画像名</th>
      <th>価格</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.item %></td>
        <td><%= product.content %></td>
        <td><%= product.picture %></td>
        <td><%= product.price %></td>
        <td><%= link_to '商品詳細', product %></td>
        <td><%= link_to '変更', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: '一度削除するとデータは完全に失われます。削除してもよいですか？' } %></td>
      </tr>
    <% end %>
    <%= form_tag search_product_path(@product), :method => 'get' do %> <%#product_pathはモデル名で読みかえること %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "検索", :name => nil %>
      </p>
    <% end %>




    <!--<%= search_form_for @q do |f| %>
    # Search if the name field contains...
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    # Search if an associated articles.title starts with...
    <%= f.label :articles_title_start %>
    <%= f.search_field :articles_title_start %>

    # Attributes may be chained. Search multiple attributes for one value...
    <%= f.label :name_or_description_or_email_or_articles_title_cont %>
    <%= f.search_field :name_or_description_or_email_or_articles_title_cont %>

    <%= f.submit %>
  <% end %>-->
  </tbody>
</table>

<br>

<%= link_to '新規商品登録', new_product_path %>
