<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @product.item %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product.content %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @product.image_name %>
  <img src="<%="/product_images/#{@product.image_name}"%>">
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
