<p id="notice"><%= notice %></p>

<p>
  <strong>商品タイトル：</strong>
  <%= @product.item %>
</p>

<p>
  <strong>商品説明：</strong>
  <%= @product.content %>
</p>


<p>
  <strong>店舗名：</strong>
  <%= @product.shop %>
</p>>

<p>
  <strong>商品画像：</strong>
  <!--<%= @product.picture %>-->
  <%= image_tag(@product.picture_url) if @product.picture.present? %>
</p>


<p>
  <strong>価格：</strong>
  <%= @product.price %>
</p>

<%= link_to '変更', edit_product_path(@product) %> |
<%= link_to 'BACK', products_path %>
