<!DOCTYPE html>
<html>
  <head>
    <title>Webinterface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Products App", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("What is Products App?","/detail") %>
        </li>
        <li>
          <%= link_to("商品一覧", "/products") %>
        </li>
        <li>
          <%= link_to("新規商品登録", "/products/new") %>
        </li>
        <!--<li>
          <%= link_to("店舗一覧", "/users/index") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>-->
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>